
@primary_color:#157db7;
@green_color:#62cf96;
@gray_bg:#eceff0;
@list_title_front_size: 16px;
@text_color:#333e4d;
@white:#fff;

html, body, :global(#root) {
  height: 100%;
  background-color: @white;
}

a,
button,
input,
textarea {
  outline: 0;
}

body,
dd,
dl,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
textarea,
ul {
  margin: 0;
}

fieldset,
input,
legend,
textarea {
  padding: 0;
}

ol,
ul {
  padding-left: 0;
  list-style-type: none;
}

a img,
fieldset {
  border: 0;
}

// img {
//   display: none;
// }

// img[src] {
//  display: block;
// }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}


audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

:global {
  body{
    max-width: 800px;
    margin: 0 auto;
    background-color: #ddeaf0;
  }
  a{
    color: @text_color;
  }
  .text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;/*文本溢出省略号*/
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  //antd-mobile default style change start
  .am-list-body{
    border:none;
  }
  .am-tabs-default-bar-tab{
    line-height: 1;
  }

  //antd-mobile default style change end
  .clearPrefix{
    &:after{
      content:"."; 
      display:block; 
      height:0; 
      visibility:hidden; 
      clear:both;
    }
  }
  //mixins
  .green_bkg{
    font-size: 12px;
    color: #fff;
    background-color: @green_color;
    border-radius: 4px;
    padding: 2px 5px;
  }

  .logo_top_bar{
    background-color: @white;
    .top_bar_logo{
      width:30px;
      height: 30px;
      //background:url('/images/logo.png');
      background-size:30px 30px;
      margin-right: 20px;
    }
    span{
      height: 35px;
    }
    height: 40px;
    display : flex;
    align-items : center;
    justify-content: center;
    width: 100%;
    font-size: @list_title_front_size;
    text-align: center;
  }
  
  .am-list-header{
    height: 44px;
    background-color: @gray_bg;
    vertical-align: middle;
    .list_header_title{
      position: relative;
      padding-left: 15px;
      color: @primary_color;
      font-size: @list_title_front_size;
      &:after{
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 4px;
        height: @list_title_front_size + 2px;
        background-color: @primary_color;
      }
    }
    .bar_more{
      float: right;
      color: @text_color;
      line-height: 44px;
      margin-top: -15px;
    }
  }

  .list_info_img{
    float: left;
    max-width: 30%;
    max-height: 80px;
  }
  .list_info_text{
    line-height: 20px;
    width:60%;
    float: right;
    height: 80px;
  }

  .am-carousel-wrap-dot-active > span{
    background-color: @green_color;
  }

  .am-tabs-default-bar-tab-active{
    color: @green_color;
  }

  .am-tabs-default-bar-underline{
    border-color:@green_color;
  }

  .am-tab-bar-bar{
    .am-tab-bar-tab-title{
      font-size:12px;
    }
  }
  .line_gradient{
    height: 6px;
    background: linear-gradient(to right, #87c0e8, #88eec4);
  }
  .loading_center{
    justify-content: center;
    padding: 3px 0px;
  }
  .row_style{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
    min-height: 44px;
    background-color: #fff;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: background-color 200ms;
    transition: background-color 200ms;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px;
    .row_img{
      width: 100px;
      height: 65px;
      margin-right: 20px;
    }
    .row_content{
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -webkit-align-self: stretch;
          -ms-flex-item-align: stretch;
              align-self: stretch;
      padding-right: 15px;
      overflow: hidden;
      
      .row_detail{
        width: 100%;
        .row_title{
          white-space: normal;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          // height: 36px; //@todo tobe checkde when multiple rows
          word-wrap: break-word;
          text-overflow: ellipsis;/*文本溢出省略号*/
          word-break: break-all;
          height:32px;
        }
        .row_footer{
          margin-top: 5px;
          .row_time{
            font-size: 12px;
            color: #3e3e3e;
          }
          .row_location{
            .green_bkg;
            float: right;
          }
          
        }
      }
    }
  }
  //文章标题
  .art_title{
    font-size: 18px;
    text-align: left;
    color: rgb(40, 156, 220);
    line-height: 22px;
    word-break: break-all;
    display: -webkit-box;
    font-family: "Microsoft YaHei";
    font-weight: 500;
  }
  .art_time{
    color: #677882;
    font-size: 14px;
    text-align: center;
    margin: 5px 0px;
  }
  .art_content{
    border-top:1px solid #e2e2e2;
    padding-top: 5px;
    word-break: break-all;
    width: 100%;
    overflow: hidden;
  }
  .art_main{
    margin: 0px 5px;
  }
  .chat_card{
      .icon-ren,.icon-huidawenti{
        color: @green_color;
        font-size: 18px;
      }
      .chat_name,.chat_title{
        margin-left: 10px;
        font-weight: 500;
        word-break: break-all;
        line-height: 22px;
      }
      .chat_title{
        font-weight: 600;
      }
      .chat_status{
        color: @primary_color;
        font-size: 15px;
      }
      .card_body{
        line-height: 19px;
        word-break: break-all;
      }
  }

  .right_arrow{
    display: block;
    width: 15px;
    height: 15px;
    margin-left: 8px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2226%22%20viewBox%3D%220%200%2016%2026%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20id%3D%22UI-KIT_%E5%9F%BA%E7%A1%80%E5%85%83%E4%BB%B6%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%229.9%E5%9F%BA%E7%A1%80%E5%85%83%E4%BB%B6%22%20transform%3D%22translate(-5809.000000%2C%20-8482.000000)%22%20fill%3D%22%23C7C7CC%22%3E%3Cpolygon%20id%3D%22Disclosure-Indicator%22%20points%3D%225811%208482%205809%208484%205820.5%208495%205809%208506%205811%208508%205825%208495%22%3E%3C%2Fpolygon%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  // .info_mask{
  //   position: fixed;
  //   height: 100%;
  //   top: 0px;
  //   bottom: 0px;
  //   left: 0px;
  //   right: 0px;
  //   background-color: #fff;
  //   z-index: 1001;
  // }
  .location_title{
    .green_bkg;
    margin-left: 8px;
    padding:1px 3px;
  }
  .slider-frame{
    min-height: 150px;//@todo rollgraph height do not work when the picture is broken
    // .slider-list{
    //   height: 100% !important;
    //   .slider-slide{
    //     height: 100% !important;
    //     a{
    //       height: 100%;
    //       img{
    //         height: 100%;
    //       }
    //     }
    //   }
    // }
    
  }

  table{
    border-collapse: collapse;
    th,td{
      border:1px solid #e4e4e4;
    }
  }

  .list-view-section-body{
    .rowContent:last-child{
        .row_style{
          border:none;
      }
    }
  }

  .icon-riqi{
    color:@primary_color;
    margin-right: 5px;
  }

  //公共button class
  .btn-config{
    background-color: @green_color;
    color: @white;
  }

  .icon-ren{
    color:#62cf96;
  }
  .icon-yishengzixun{
    color:#6e66dd;
  }
  .icon-shouye{
      color:#157db7;
  }
  .icon-kefu{
      color:#ea9419;
  }

  .chat_list_none{
    .am-list-header{
      background-color: #ddeaf0;
      text-align: center;
      background: url("/images/noListWord.png") no-repeat center center;
      height: 300px;
      background-size: 120px auto;
      border-bottom:none;
    }
    .am-list-body::after{
      height: 0px !important;
    }
  
    .am-list-body::before{
      height:0px !important;
    }
  }

  .dangerousHtml{
    img{
      max-width: 100%;
      height: auto;
    }
    table{
      width: 100%;
    }
    ol{
      list-style-type: decimal;
    }
    ol,ul{margin:0;pading:0;width:95%}li{clear:both;}li.list-cn-1-0{background-image:url(/ueditor-list/list-cn-1-0.gif)}
    li.list-cn-1-1{background-image:url(/ueditor-list/list-cn-1-1.gif)}
    li.list-cn-1-2{background-image:url(/ueditor-list/list-cn-1-2.gif)}
    li.list-cn-1-3{background-image:url(/ueditor-list/list-cn-1-3.gif)}
    li.list-cn-1-4{background-image:url(/ueditor-list/list-cn-1-4.gif)}
    li.list-cn-1-5{background-image:url(/ueditor-list/list-cn-1-5.gif)}
    li.list-cn-1-6{background-image:url(/ueditor-list/list-cn-1-6.gif)}
    li.list-cn-1-7{background-image:url(/ueditor-list/list-cn-1-7.gif)}
    li.list-cn-1-8{background-image:url(/ueditor-list/list-cn-1-8.gif)}
    li.list-cn-1-9{background-image:url(/ueditor-list/list-cn-1-9.gif)}
    li.list-cn-1-10{background-image:url(/ueditor-list/list-cn-1-10.gif)}
    li.list-cn-1-11{background-image:url(/ueditor-list/list-cn-1-11.gif)}
    li.list-cn-1-12{background-image:url(/ueditor-list/list-cn-1-12.gif)}
    li.list-cn-1-13{background-image:url(/ueditor-list/list-cn-1-13.gif)}
    li.list-cn-1-14{background-image:url(/ueditor-list/list-cn-1-14.gif)}
    li.list-cn-1-15{background-image:url(/ueditor-list/list-cn-1-15.gif)}
    li.list-cn-1-16{background-image:url(/ueditor-list/list-cn-1-16.gif)}
    li.list-cn-1-17{background-image:url(/ueditor-list/list-cn-1-17.gif)}
    li.list-cn-1-18{background-image:url(/ueditor-list/list-cn-1-18.gif)}
    li.list-cn-1-19{background-image:url(/ueditor-list/list-cn-1-19.gif)}
    li.list-cn-1-20{background-image:url(/ueditor-list/list-cn-1-20.gif)}
    li.list-cn-1-21{background-image:url(/ueditor-list/list-cn-1-21.gif)}
    li.list-cn-1-22{background-image:url(/ueditor-list/list-cn-1-22.gif)}
    li.list-cn-1-23{background-image:url(/ueditor-list/list-cn-1-23.gif)}
    li.list-cn-1-24{background-image:url(/ueditor-list/list-cn-1-24.gif)}
    li.list-cn-1-25{background-image:url(/ueditor-list/list-cn-1-25.gif)}
    li.list-cn-1-26{background-image:url(/ueditor-list/list-cn-1-26.gif)}
    li.list-cn-1-27{background-image:url(/ueditor-list/list-cn-1-27.gif)}
    li.list-cn-1-28{background-image:url(/ueditor-list/list-cn-1-28.gif)}
    li.list-cn-1-29{background-image:url(/ueditor-list/list-cn-1-29.gif)}
    li.list-cn-1-30{background-image:url(/ueditor-list/list-cn-1-30.gif)}
    li.list-cn-1-31{background-image:url(/ueditor-list/list-cn-1-31.gif)}
    li.list-cn-1-32{background-image:url(/ueditor-list/list-cn-1-32.gif)}
    li.list-cn-1-33{background-image:url(/ueditor-list/list-cn-1-33.gif)}
    li.list-cn-1-34{background-image:url(/ueditor-list/list-cn-1-34.gif)}
    li.list-cn-1-35{background-image:url(/ueditor-list/list-cn-1-35.gif)}
    li.list-cn-1-36{background-image:url(/ueditor-list/list-cn-1-36.gif)}
    li.list-cn-1-37{background-image:url(/ueditor-list/list-cn-1-37.gif)}
    li.list-cn-1-38{background-image:url(/ueditor-list/list-cn-1-38.gif)}
    li.list-cn-1-39{background-image:url(/ueditor-list/list-cn-1-39.gif)}
    li.list-cn-1-40{background-image:url(/ueditor-list/list-cn-1-40.gif)}
    li.list-cn-1-41{background-image:url(/ueditor-list/list-cn-1-41.gif)}
    li.list-cn-1-42{background-image:url(/ueditor-list/list-cn-1-42.gif)}
    li.list-cn-1-43{background-image:url(/ueditor-list/list-cn-1-43.gif)}
    li.list-cn-1-44{background-image:url(/ueditor-list/list-cn-1-44.gif)}
    li.list-cn-1-45{background-image:url(/ueditor-list/list-cn-1-45.gif)}
    li.list-cn-1-46{background-image:url(/ueditor-list/list-cn-1-46.gif)}
    li.list-cn-1-47{background-image:url(/ueditor-list/list-cn-1-47.gif)}
    li.list-cn-1-48{background-image:url(/ueditor-list/list-cn-1-48.gif)}
    li.list-cn-1-49{background-image:url(/ueditor-list/list-cn-1-49.gif)}
    li.list-cn-1-50{background-image:url(/ueditor-list/list-cn-1-50.gif)}
    li.list-cn-1-51{background-image:url(/ueditor-list/list-cn-1-51.gif)}
    li.list-cn-1-52{background-image:url(/ueditor-list/list-cn-1-52.gif)}
    li.list-cn-1-53{background-image:url(/ueditor-list/list-cn-1-53.gif)}
    li.list-cn-1-54{background-image:url(/ueditor-list/list-cn-1-54.gif)}
    li.list-cn-1-55{background-image:url(/ueditor-list/list-cn-1-55.gif)}
    li.list-cn-1-56{background-image:url(/ueditor-list/list-cn-1-56.gif)}
    li.list-cn-1-57{background-image:url(/ueditor-list/list-cn-1-57.gif)}
    li.list-cn-1-58{background-image:url(/ueditor-list/list-cn-1-58.gif)}
    li.list-cn-1-59{background-image:url(/ueditor-list/list-cn-1-59.gif)}
    li.list-cn-1-60{background-image:url(/ueditor-list/list-cn-1-60.gif)}
    li.list-cn-1-61{background-image:url(/ueditor-list/list-cn-1-61.gif)}
    li.list-cn-1-62{background-image:url(/ueditor-list/list-cn-1-62.gif)}
    li.list-cn-1-63{background-image:url(/ueditor-list/list-cn-1-63.gif)}
    li.list-cn-1-64{background-image:url(/ueditor-list/list-cn-1-64.gif)}
    li.list-cn-1-65{background-image:url(/ueditor-list/list-cn-1-65.gif)}
    li.list-cn-1-66{background-image:url(/ueditor-list/list-cn-1-66.gif)}
    li.list-cn-1-67{background-image:url(/ueditor-list/list-cn-1-67.gif)}
    li.list-cn-1-68{background-image:url(/ueditor-list/list-cn-1-68.gif)}
    li.list-cn-1-69{background-image:url(/ueditor-list/list-cn-1-69.gif)}
    li.list-cn-1-70{background-image:url(/ueditor-list/list-cn-1-70.gif)}
    li.list-cn-1-71{background-image:url(/ueditor-list/list-cn-1-71.gif)}
    li.list-cn-1-72{background-image:url(/ueditor-list/list-cn-1-72.gif)}
    li.list-cn-1-73{background-image:url(/ueditor-list/list-cn-1-73.gif)}
    li.list-cn-1-74{background-image:url(/ueditor-list/list-cn-1-74.gif)}
    li.list-cn-1-75{background-image:url(/ueditor-list/list-cn-1-75.gif)}
    li.list-cn-1-76{background-image:url(/ueditor-list/list-cn-1-76.gif)}
    li.list-cn-1-77{background-image:url(/ueditor-list/list-cn-1-77.gif)}
    li.list-cn-1-78{background-image:url(/ueditor-list/list-cn-1-78.gif)}
    li.list-cn-1-79{background-image:url(/ueditor-list/list-cn-1-79.gif)}
    li.list-cn-1-80{background-image:url(/ueditor-list/list-cn-1-80.gif)}
    li.list-cn-1-81{background-image:url(/ueditor-list/list-cn-1-81.gif)}
    li.list-cn-1-82{background-image:url(/ueditor-list/list-cn-1-82.gif)}
    li.list-cn-1-83{background-image:url(/ueditor-list/list-cn-1-83.gif)}
    li.list-cn-1-84{background-image:url(/ueditor-list/list-cn-1-84.gif)}
    li.list-cn-1-85{background-image:url(/ueditor-list/list-cn-1-85.gif)}
    li.list-cn-1-86{background-image:url(/ueditor-list/list-cn-1-86.gif)}
    li.list-cn-1-87{background-image:url(/ueditor-list/list-cn-1-87.gif)}
    li.list-cn-1-88{background-image:url(/ueditor-list/list-cn-1-88.gif)}
    li.list-cn-1-89{background-image:url(/ueditor-list/list-cn-1-89.gif)}
    li.list-cn-1-90{background-image:url(/ueditor-list/list-cn-1-90.gif)}
    li.list-cn-1-91{background-image:url(/ueditor-list/list-cn-1-91.gif)}
    li.list-cn-1-92{background-image:url(/ueditor-list/list-cn-1-92.gif)}
    li.list-cn-1-93{background-image:url(/ueditor-list/list-cn-1-93.gif)}
    li.list-cn-1-94{background-image:url(/ueditor-list/list-cn-1-94.gif)}
    li.list-cn-1-95{background-image:url(/ueditor-list/list-cn-1-95.gif)}
    li.list-cn-1-96{background-image:url(/ueditor-list/list-cn-1-96.gif)}
    li.list-cn-1-97{background-image:url(/ueditor-list/list-cn-1-97.gif)}
    li.list-cn-1-98{background-image:url(/ueditor-list/list-cn-1-98.gif)}
    ol.custom_cn{list-style:none;}ol.custom_cn li{background-position:0 3px;background-repeat:no-repeat}
    li.list-cn-paddingleft-1{padding-left:25px}
    li.list-cn-paddingleft-2{padding-left:40px}
    li.list-cn-paddingleft-3{padding-left:55px}
    li.list-cn-2-0{background-image:url(/ueditor-list/list-cn-2-0.gif)}
    li.list-cn-2-1{background-image:url(/ueditor-list/list-cn-2-1.gif)}
    li.list-cn-2-2{background-image:url(/ueditor-list/list-cn-2-2.gif)}
    li.list-cn-2-3{background-image:url(/ueditor-list/list-cn-2-3.gif)}
    li.list-cn-2-4{background-image:url(/ueditor-list/list-cn-2-4.gif)}
    li.list-cn-2-5{background-image:url(/ueditor-list/list-cn-2-5.gif)}
    li.list-cn-2-6{background-image:url(/ueditor-list/list-cn-2-6.gif)}
    li.list-cn-2-7{background-image:url(/ueditor-list/list-cn-2-7.gif)}
    li.list-cn-2-8{background-image:url(/ueditor-list/list-cn-2-8.gif)}
    li.list-cn-2-9{background-image:url(/ueditor-list/list-cn-2-9.gif)}
    li.list-cn-2-10{background-image:url(/ueditor-list/list-cn-2-10.gif)}
    li.list-cn-2-11{background-image:url(/ueditor-list/list-cn-2-11.gif)}
    li.list-cn-2-12{background-image:url(/ueditor-list/list-cn-2-12.gif)}
    li.list-cn-2-13{background-image:url(/ueditor-list/list-cn-2-13.gif)}
    li.list-cn-2-14{background-image:url(/ueditor-list/list-cn-2-14.gif)}
    li.list-cn-2-15{background-image:url(/ueditor-list/list-cn-2-15.gif)}
    li.list-cn-2-16{background-image:url(/ueditor-list/list-cn-2-16.gif)}
    li.list-cn-2-17{background-image:url(/ueditor-list/list-cn-2-17.gif)}
    li.list-cn-2-18{background-image:url(/ueditor-list/list-cn-2-18.gif)}
    li.list-cn-2-19{background-image:url(/ueditor-list/list-cn-2-19.gif)}
    li.list-cn-2-20{background-image:url(/ueditor-list/list-cn-2-20.gif)}
    li.list-cn-2-21{background-image:url(/ueditor-list/list-cn-2-21.gif)}
    li.list-cn-2-22{background-image:url(/ueditor-list/list-cn-2-22.gif)}
    li.list-cn-2-23{background-image:url(/ueditor-list/list-cn-2-23.gif)}
    li.list-cn-2-24{background-image:url(/ueditor-list/list-cn-2-24.gif)}
    li.list-cn-2-25{background-image:url(/ueditor-list/list-cn-2-25.gif)}
    li.list-cn-2-26{background-image:url(/ueditor-list/list-cn-2-26.gif)}
    li.list-cn-2-27{background-image:url(/ueditor-list/list-cn-2-27.gif)}
    li.list-cn-2-28{background-image:url(/ueditor-list/list-cn-2-28.gif)}
    li.list-cn-2-29{background-image:url(/ueditor-list/list-cn-2-29.gif)}
    li.list-cn-2-30{background-image:url(/ueditor-list/list-cn-2-30.gif)}
    li.list-cn-2-31{background-image:url(/ueditor-list/list-cn-2-31.gif)}
    li.list-cn-2-32{background-image:url(/ueditor-list/list-cn-2-32.gif)}
    li.list-cn-2-33{background-image:url(/ueditor-list/list-cn-2-33.gif)}
    li.list-cn-2-34{background-image:url(/ueditor-list/list-cn-2-34.gif)}
    li.list-cn-2-35{background-image:url(/ueditor-list/list-cn-2-35.gif)}
    li.list-cn-2-36{background-image:url(/ueditor-list/list-cn-2-36.gif)}
    li.list-cn-2-37{background-image:url(/ueditor-list/list-cn-2-37.gif)}
    li.list-cn-2-38{background-image:url(/ueditor-list/list-cn-2-38.gif)}
    li.list-cn-2-39{background-image:url(/ueditor-list/list-cn-2-39.gif)}
    li.list-cn-2-40{background-image:url(/ueditor-list/list-cn-2-40.gif)}
    li.list-cn-2-41{background-image:url(/ueditor-list/list-cn-2-41.gif)}
    li.list-cn-2-42{background-image:url(/ueditor-list/list-cn-2-42.gif)}
    li.list-cn-2-43{background-image:url(/ueditor-list/list-cn-2-43.gif)}
    li.list-cn-2-44{background-image:url(/ueditor-list/list-cn-2-44.gif)}
    li.list-cn-2-45{background-image:url(/ueditor-list/list-cn-2-45.gif)}
    li.list-cn-2-46{background-image:url(/ueditor-list/list-cn-2-46.gif)}
    li.list-cn-2-47{background-image:url(/ueditor-list/list-cn-2-47.gif)}
    li.list-cn-2-48{background-image:url(/ueditor-list/list-cn-2-48.gif)}
    li.list-cn-2-49{background-image:url(/ueditor-list/list-cn-2-49.gif)}
    li.list-cn-2-50{background-image:url(/ueditor-list/list-cn-2-50.gif)}
    li.list-cn-2-51{background-image:url(/ueditor-list/list-cn-2-51.gif)}
    li.list-cn-2-52{background-image:url(/ueditor-list/list-cn-2-52.gif)}
    li.list-cn-2-53{background-image:url(/ueditor-list/list-cn-2-53.gif)}
    li.list-cn-2-54{background-image:url(/ueditor-list/list-cn-2-54.gif)}
    li.list-cn-2-55{background-image:url(/ueditor-list/list-cn-2-55.gif)}
    li.list-cn-2-56{background-image:url(/ueditor-list/list-cn-2-56.gif)}
    li.list-cn-2-57{background-image:url(/ueditor-list/list-cn-2-57.gif)}
    li.list-cn-2-58{background-image:url(/ueditor-list/list-cn-2-58.gif)}
    li.list-cn-2-59{background-image:url(/ueditor-list/list-cn-2-59.gif)}
    li.list-cn-2-60{background-image:url(/ueditor-list/list-cn-2-60.gif)}
    li.list-cn-2-61{background-image:url(/ueditor-list/list-cn-2-61.gif)}
    li.list-cn-2-62{background-image:url(/ueditor-list/list-cn-2-62.gif)}
    li.list-cn-2-63{background-image:url(/ueditor-list/list-cn-2-63.gif)}
    li.list-cn-2-64{background-image:url(/ueditor-list/list-cn-2-64.gif)}
    li.list-cn-2-65{background-image:url(/ueditor-list/list-cn-2-65.gif)}
    li.list-cn-2-66{background-image:url(/ueditor-list/list-cn-2-66.gif)}
    li.list-cn-2-67{background-image:url(/ueditor-list/list-cn-2-67.gif)}
    li.list-cn-2-68{background-image:url(/ueditor-list/list-cn-2-68.gif)}
    li.list-cn-2-69{background-image:url(/ueditor-list/list-cn-2-69.gif)}
    li.list-cn-2-70{background-image:url(/ueditor-list/list-cn-2-70.gif)}
    li.list-cn-2-71{background-image:url(/ueditor-list/list-cn-2-71.gif)}
    li.list-cn-2-72{background-image:url(/ueditor-list/list-cn-2-72.gif)}
    li.list-cn-2-73{background-image:url(/ueditor-list/list-cn-2-73.gif)}
    li.list-cn-2-74{background-image:url(/ueditor-list/list-cn-2-74.gif)}
    li.list-cn-2-75{background-image:url(/ueditor-list/list-cn-2-75.gif)}
    li.list-cn-2-76{background-image:url(/ueditor-list/list-cn-2-76.gif)}
    li.list-cn-2-77{background-image:url(/ueditor-list/list-cn-2-77.gif)}
    li.list-cn-2-78{background-image:url(/ueditor-list/list-cn-2-78.gif)}
    li.list-cn-2-79{background-image:url(/ueditor-list/list-cn-2-79.gif)}
    li.list-cn-2-80{background-image:url(/ueditor-list/list-cn-2-80.gif)}
    li.list-cn-2-81{background-image:url(/ueditor-list/list-cn-2-81.gif)}
    li.list-cn-2-82{background-image:url(/ueditor-list/list-cn-2-82.gif)}
    li.list-cn-2-83{background-image:url(/ueditor-list/list-cn-2-83.gif)}
    li.list-cn-2-84{background-image:url(/ueditor-list/list-cn-2-84.gif)}
    li.list-cn-2-85{background-image:url(/ueditor-list/list-cn-2-85.gif)}
    li.list-cn-2-86{background-image:url(/ueditor-list/list-cn-2-86.gif)}
    li.list-cn-2-87{background-image:url(/ueditor-list/list-cn-2-87.gif)}
    li.list-cn-2-88{background-image:url(/ueditor-list/list-cn-2-88.gif)}
    li.list-cn-2-89{background-image:url(/ueditor-list/list-cn-2-89.gif)}
    li.list-cn-2-90{background-image:url(/ueditor-list/list-cn-2-90.gif)}
    li.list-cn-2-91{background-image:url(/ueditor-list/list-cn-2-91.gif)}
    li.list-cn-2-92{background-image:url(/ueditor-list/list-cn-2-92.gif)}
    li.list-cn-2-93{background-image:url(/ueditor-list/list-cn-2-93.gif)}
    li.list-cn-2-94{background-image:url(/ueditor-list/list-cn-2-94.gif)}
    li.list-cn-2-95{background-image:url(/ueditor-list/list-cn-2-95.gif)}
    li.list-cn-2-96{background-image:url(/ueditor-list/list-cn-2-96.gif)}
    li.list-cn-2-97{background-image:url(/ueditor-list/list-cn-2-97.gif)}
    li.list-cn-2-98{background-image:url(/ueditor-list/list-cn-2-98.gif)}
    ol.custom_cn1{list-style:none;}ol.custom_cn1 li{background-position:0 3px;background-repeat:no-repeat}
    li.list-cn1-paddingleft-1{padding-left:30px}
    li.list-cn1-paddingleft-2{padding-left:40px}
    li.list-cn1-paddingleft-3{padding-left:55px}
    li.list-cn-3-0{background-image:url(/ueditor-list/list-cn-3-0.gif)}
    li.list-cn-3-1{background-image:url(/ueditor-list/list-cn-3-1.gif)}
    li.list-cn-3-2{background-image:url(/ueditor-list/list-cn-3-2.gif)}
    li.list-cn-3-3{background-image:url(/ueditor-list/list-cn-3-3.gif)}
    li.list-cn-3-4{background-image:url(/ueditor-list/list-cn-3-4.gif)}
    li.list-cn-3-5{background-image:url(/ueditor-list/list-cn-3-5.gif)}
    li.list-cn-3-6{background-image:url(/ueditor-list/list-cn-3-6.gif)}
    li.list-cn-3-7{background-image:url(/ueditor-list/list-cn-3-7.gif)}
    li.list-cn-3-8{background-image:url(/ueditor-list/list-cn-3-8.gif)}
    li.list-cn-3-9{background-image:url(/ueditor-list/list-cn-3-9.gif)}
    li.list-cn-3-10{background-image:url(/ueditor-list/list-cn-3-10.gif)}
    li.list-cn-3-11{background-image:url(/ueditor-list/list-cn-3-11.gif)}
    li.list-cn-3-12{background-image:url(/ueditor-list/list-cn-3-12.gif)}
    li.list-cn-3-13{background-image:url(/ueditor-list/list-cn-3-13.gif)}
    li.list-cn-3-14{background-image:url(/ueditor-list/list-cn-3-14.gif)}
    li.list-cn-3-15{background-image:url(/ueditor-list/list-cn-3-15.gif)}
    li.list-cn-3-16{background-image:url(/ueditor-list/list-cn-3-16.gif)}
    li.list-cn-3-17{background-image:url(/ueditor-list/list-cn-3-17.gif)}
    li.list-cn-3-18{background-image:url(/ueditor-list/list-cn-3-18.gif)}
    li.list-cn-3-19{background-image:url(/ueditor-list/list-cn-3-19.gif)}
    li.list-cn-3-20{background-image:url(/ueditor-list/list-cn-3-20.gif)}
    li.list-cn-3-21{background-image:url(/ueditor-list/list-cn-3-21.gif)}
    li.list-cn-3-22{background-image:url(/ueditor-list/list-cn-3-22.gif)}
    li.list-cn-3-23{background-image:url(/ueditor-list/list-cn-3-23.gif)}
    li.list-cn-3-24{background-image:url(/ueditor-list/list-cn-3-24.gif)}
    li.list-cn-3-25{background-image:url(/ueditor-list/list-cn-3-25.gif)}
    li.list-cn-3-26{background-image:url(/ueditor-list/list-cn-3-26.gif)}
    li.list-cn-3-27{background-image:url(/ueditor-list/list-cn-3-27.gif)}
    li.list-cn-3-28{background-image:url(/ueditor-list/list-cn-3-28.gif)}
    li.list-cn-3-29{background-image:url(/ueditor-list/list-cn-3-29.gif)}
    li.list-cn-3-30{background-image:url(/ueditor-list/list-cn-3-30.gif)}
    li.list-cn-3-31{background-image:url(/ueditor-list/list-cn-3-31.gif)}
    li.list-cn-3-32{background-image:url(/ueditor-list/list-cn-3-32.gif)}
    li.list-cn-3-33{background-image:url(/ueditor-list/list-cn-3-33.gif)}
    li.list-cn-3-34{background-image:url(/ueditor-list/list-cn-3-34.gif)}
    li.list-cn-3-35{background-image:url(/ueditor-list/list-cn-3-35.gif)}
    li.list-cn-3-36{background-image:url(/ueditor-list/list-cn-3-36.gif)}
    li.list-cn-3-37{background-image:url(/ueditor-list/list-cn-3-37.gif)}
    li.list-cn-3-38{background-image:url(/ueditor-list/list-cn-3-38.gif)}
    li.list-cn-3-39{background-image:url(/ueditor-list/list-cn-3-39.gif)}
    li.list-cn-3-40{background-image:url(/ueditor-list/list-cn-3-40.gif)}
    li.list-cn-3-41{background-image:url(/ueditor-list/list-cn-3-41.gif)}
    li.list-cn-3-42{background-image:url(/ueditor-list/list-cn-3-42.gif)}
    li.list-cn-3-43{background-image:url(/ueditor-list/list-cn-3-43.gif)}
    li.list-cn-3-44{background-image:url(/ueditor-list/list-cn-3-44.gif)}
    li.list-cn-3-45{background-image:url(/ueditor-list/list-cn-3-45.gif)}
    li.list-cn-3-46{background-image:url(/ueditor-list/list-cn-3-46.gif)}
    li.list-cn-3-47{background-image:url(/ueditor-list/list-cn-3-47.gif)}
    li.list-cn-3-48{background-image:url(/ueditor-list/list-cn-3-48.gif)}
    li.list-cn-3-49{background-image:url(/ueditor-list/list-cn-3-49.gif)}
    li.list-cn-3-50{background-image:url(/ueditor-list/list-cn-3-50.gif)}
    li.list-cn-3-51{background-image:url(/ueditor-list/list-cn-3-51.gif)}
    li.list-cn-3-52{background-image:url(/ueditor-list/list-cn-3-52.gif)}
    li.list-cn-3-53{background-image:url(/ueditor-list/list-cn-3-53.gif)}
    li.list-cn-3-54{background-image:url(/ueditor-list/list-cn-3-54.gif)}
    li.list-cn-3-55{background-image:url(/ueditor-list/list-cn-3-55.gif)}
    li.list-cn-3-56{background-image:url(/ueditor-list/list-cn-3-56.gif)}
    li.list-cn-3-57{background-image:url(/ueditor-list/list-cn-3-57.gif)}
    li.list-cn-3-58{background-image:url(/ueditor-list/list-cn-3-58.gif)}
    li.list-cn-3-59{background-image:url(/ueditor-list/list-cn-3-59.gif)}
    li.list-cn-3-60{background-image:url(/ueditor-list/list-cn-3-60.gif)}
    li.list-cn-3-61{background-image:url(/ueditor-list/list-cn-3-61.gif)}
    li.list-cn-3-62{background-image:url(/ueditor-list/list-cn-3-62.gif)}
    li.list-cn-3-63{background-image:url(/ueditor-list/list-cn-3-63.gif)}
    li.list-cn-3-64{background-image:url(/ueditor-list/list-cn-3-64.gif)}
    li.list-cn-3-65{background-image:url(/ueditor-list/list-cn-3-65.gif)}
    li.list-cn-3-66{background-image:url(/ueditor-list/list-cn-3-66.gif)}
    li.list-cn-3-67{background-image:url(/ueditor-list/list-cn-3-67.gif)}
    li.list-cn-3-68{background-image:url(/ueditor-list/list-cn-3-68.gif)}
    li.list-cn-3-69{background-image:url(/ueditor-list/list-cn-3-69.gif)}
    li.list-cn-3-70{background-image:url(/ueditor-list/list-cn-3-70.gif)}
    li.list-cn-3-71{background-image:url(/ueditor-list/list-cn-3-71.gif)}
    li.list-cn-3-72{background-image:url(/ueditor-list/list-cn-3-72.gif)}
    li.list-cn-3-73{background-image:url(/ueditor-list/list-cn-3-73.gif)}
    li.list-cn-3-74{background-image:url(/ueditor-list/list-cn-3-74.gif)}
    li.list-cn-3-75{background-image:url(/ueditor-list/list-cn-3-75.gif)}
    li.list-cn-3-76{background-image:url(/ueditor-list/list-cn-3-76.gif)}
    li.list-cn-3-77{background-image:url(/ueditor-list/list-cn-3-77.gif)}
    li.list-cn-3-78{background-image:url(/ueditor-list/list-cn-3-78.gif)}
    li.list-cn-3-79{background-image:url(/ueditor-list/list-cn-3-79.gif)}
    li.list-cn-3-80{background-image:url(/ueditor-list/list-cn-3-80.gif)}
    li.list-cn-3-81{background-image:url(/ueditor-list/list-cn-3-81.gif)}
    li.list-cn-3-82{background-image:url(/ueditor-list/list-cn-3-82.gif)}
    li.list-cn-3-83{background-image:url(/ueditor-list/list-cn-3-83.gif)}
    li.list-cn-3-84{background-image:url(/ueditor-list/list-cn-3-84.gif)}
    li.list-cn-3-85{background-image:url(/ueditor-list/list-cn-3-85.gif)}
    li.list-cn-3-86{background-image:url(/ueditor-list/list-cn-3-86.gif)}
    li.list-cn-3-87{background-image:url(/ueditor-list/list-cn-3-87.gif)}
    li.list-cn-3-88{background-image:url(/ueditor-list/list-cn-3-88.gif)}
    li.list-cn-3-89{background-image:url(/ueditor-list/list-cn-3-89.gif)}
    li.list-cn-3-90{background-image:url(/ueditor-list/list-cn-3-90.gif)}
    li.list-cn-3-91{background-image:url(/ueditor-list/list-cn-3-91.gif)}
    li.list-cn-3-92{background-image:url(/ueditor-list/list-cn-3-92.gif)}
    li.list-cn-3-93{background-image:url(/ueditor-list/list-cn-3-93.gif)}
    li.list-cn-3-94{background-image:url(/ueditor-list/list-cn-3-94.gif)}
    li.list-cn-3-95{background-image:url(/ueditor-list/list-cn-3-95.gif)}
    li.list-cn-3-96{background-image:url(/ueditor-list/list-cn-3-96.gif)}
    li.list-cn-3-97{background-image:url(/ueditor-list/list-cn-3-97.gif)}
    li.list-cn-3-98{background-image:url(/ueditor-list/list-cn-3-98.gif)}
    ol.custom_cn2{list-style:none;}ol.custom_cn2 li{background-position:0 3px;background-repeat:no-repeat}
    li.list-cn2-paddingleft-1{padding-left:40px}
    li.list-cn2-paddingleft-2{padding-left:55px}
    li.list-cn2-paddingleft-3{padding-left:68px}
    li.list-num-1-0{background-image:url(/ueditor-list/list-num-1-0.gif)}
    li.list-num-1-1{background-image:url(/ueditor-list/list-num-1-1.gif)}
    li.list-num-1-2{background-image:url(/ueditor-list/list-num-1-2.gif)}
    li.list-num-1-3{background-image:url(/ueditor-list/list-num-1-3.gif)}
    li.list-num-1-4{background-image:url(/ueditor-list/list-num-1-4.gif)}
    li.list-num-1-5{background-image:url(/ueditor-list/list-num-1-5.gif)}
    li.list-num-1-6{background-image:url(/ueditor-list/list-num-1-6.gif)}
    li.list-num-1-7{background-image:url(/ueditor-list/list-num-1-7.gif)}
    li.list-num-1-8{background-image:url(/ueditor-list/list-num-1-8.gif)}
    li.list-num-1-9{background-image:url(/ueditor-list/list-num-1-9.gif)}
    li.list-num-1-10{background-image:url(/ueditor-list/list-num-1-10.gif)}
    li.list-num-1-11{background-image:url(/ueditor-list/list-num-1-11.gif)}
    li.list-num-1-12{background-image:url(/ueditor-list/list-num-1-12.gif)}
    li.list-num-1-13{background-image:url(/ueditor-list/list-num-1-13.gif)}
    li.list-num-1-14{background-image:url(/ueditor-list/list-num-1-14.gif)}
    li.list-num-1-15{background-image:url(/ueditor-list/list-num-1-15.gif)}
    li.list-num-1-16{background-image:url(/ueditor-list/list-num-1-16.gif)}
    li.list-num-1-17{background-image:url(/ueditor-list/list-num-1-17.gif)}
    li.list-num-1-18{background-image:url(/ueditor-list/list-num-1-18.gif)}
    li.list-num-1-19{background-image:url(/ueditor-list/list-num-1-19.gif)}
    li.list-num-1-20{background-image:url(/ueditor-list/list-num-1-20.gif)}
    li.list-num-1-21{background-image:url(/ueditor-list/list-num-1-21.gif)}
    li.list-num-1-22{background-image:url(/ueditor-list/list-num-1-22.gif)}
    li.list-num-1-23{background-image:url(/ueditor-list/list-num-1-23.gif)}
    li.list-num-1-24{background-image:url(/ueditor-list/list-num-1-24.gif)}
    li.list-num-1-25{background-image:url(/ueditor-list/list-num-1-25.gif)}
    li.list-num-1-26{background-image:url(/ueditor-list/list-num-1-26.gif)}
    li.list-num-1-27{background-image:url(/ueditor-list/list-num-1-27.gif)}
    li.list-num-1-28{background-image:url(/ueditor-list/list-num-1-28.gif)}
    li.list-num-1-29{background-image:url(/ueditor-list/list-num-1-29.gif)}
    li.list-num-1-30{background-image:url(/ueditor-list/list-num-1-30.gif)}
    li.list-num-1-31{background-image:url(/ueditor-list/list-num-1-31.gif)}
    li.list-num-1-32{background-image:url(/ueditor-list/list-num-1-32.gif)}
    li.list-num-1-33{background-image:url(/ueditor-list/list-num-1-33.gif)}
    li.list-num-1-34{background-image:url(/ueditor-list/list-num-1-34.gif)}
    li.list-num-1-35{background-image:url(/ueditor-list/list-num-1-35.gif)}
    li.list-num-1-36{background-image:url(/ueditor-list/list-num-1-36.gif)}
    li.list-num-1-37{background-image:url(/ueditor-list/list-num-1-37.gif)}
    li.list-num-1-38{background-image:url(/ueditor-list/list-num-1-38.gif)}
    li.list-num-1-39{background-image:url(/ueditor-list/list-num-1-39.gif)}
    li.list-num-1-40{background-image:url(/ueditor-list/list-num-1-40.gif)}
    li.list-num-1-41{background-image:url(/ueditor-list/list-num-1-41.gif)}
    li.list-num-1-42{background-image:url(/ueditor-list/list-num-1-42.gif)}
    li.list-num-1-43{background-image:url(/ueditor-list/list-num-1-43.gif)}
    li.list-num-1-44{background-image:url(/ueditor-list/list-num-1-44.gif)}
    li.list-num-1-45{background-image:url(/ueditor-list/list-num-1-45.gif)}
    li.list-num-1-46{background-image:url(/ueditor-list/list-num-1-46.gif)}
    li.list-num-1-47{background-image:url(/ueditor-list/list-num-1-47.gif)}
    li.list-num-1-48{background-image:url(/ueditor-list/list-num-1-48.gif)}
    li.list-num-1-49{background-image:url(/ueditor-list/list-num-1-49.gif)}
    li.list-num-1-50{background-image:url(/ueditor-list/list-num-1-50.gif)}
    li.list-num-1-51{background-image:url(/ueditor-list/list-num-1-51.gif)}
    li.list-num-1-52{background-image:url(/ueditor-list/list-num-1-52.gif)}
    li.list-num-1-53{background-image:url(/ueditor-list/list-num-1-53.gif)}
    li.list-num-1-54{background-image:url(/ueditor-list/list-num-1-54.gif)}
    li.list-num-1-55{background-image:url(/ueditor-list/list-num-1-55.gif)}
    li.list-num-1-56{background-image:url(/ueditor-list/list-num-1-56.gif)}
    li.list-num-1-57{background-image:url(/ueditor-list/list-num-1-57.gif)}
    li.list-num-1-58{background-image:url(/ueditor-list/list-num-1-58.gif)}
    li.list-num-1-59{background-image:url(/ueditor-list/list-num-1-59.gif)}
    li.list-num-1-60{background-image:url(/ueditor-list/list-num-1-60.gif)}
    li.list-num-1-61{background-image:url(/ueditor-list/list-num-1-61.gif)}
    li.list-num-1-62{background-image:url(/ueditor-list/list-num-1-62.gif)}
    li.list-num-1-63{background-image:url(/ueditor-list/list-num-1-63.gif)}
    li.list-num-1-64{background-image:url(/ueditor-list/list-num-1-64.gif)}
    li.list-num-1-65{background-image:url(/ueditor-list/list-num-1-65.gif)}
    li.list-num-1-66{background-image:url(/ueditor-list/list-num-1-66.gif)}
    li.list-num-1-67{background-image:url(/ueditor-list/list-num-1-67.gif)}
    li.list-num-1-68{background-image:url(/ueditor-list/list-num-1-68.gif)}
    li.list-num-1-69{background-image:url(/ueditor-list/list-num-1-69.gif)}
    li.list-num-1-70{background-image:url(/ueditor-list/list-num-1-70.gif)}
    li.list-num-1-71{background-image:url(/ueditor-list/list-num-1-71.gif)}
    li.list-num-1-72{background-image:url(/ueditor-list/list-num-1-72.gif)}
    li.list-num-1-73{background-image:url(/ueditor-list/list-num-1-73.gif)}
    li.list-num-1-74{background-image:url(/ueditor-list/list-num-1-74.gif)}
    li.list-num-1-75{background-image:url(/ueditor-list/list-num-1-75.gif)}
    li.list-num-1-76{background-image:url(/ueditor-list/list-num-1-76.gif)}
    li.list-num-1-77{background-image:url(/ueditor-list/list-num-1-77.gif)}
    li.list-num-1-78{background-image:url(/ueditor-list/list-num-1-78.gif)}
    li.list-num-1-79{background-image:url(/ueditor-list/list-num-1-79.gif)}
    li.list-num-1-80{background-image:url(/ueditor-list/list-num-1-80.gif)}
    li.list-num-1-81{background-image:url(/ueditor-list/list-num-1-81.gif)}
    li.list-num-1-82{background-image:url(/ueditor-list/list-num-1-82.gif)}
    li.list-num-1-83{background-image:url(/ueditor-list/list-num-1-83.gif)}
    li.list-num-1-84{background-image:url(/ueditor-list/list-num-1-84.gif)}
    li.list-num-1-85{background-image:url(/ueditor-list/list-num-1-85.gif)}
    li.list-num-1-86{background-image:url(/ueditor-list/list-num-1-86.gif)}
    li.list-num-1-87{background-image:url(/ueditor-list/list-num-1-87.gif)}
    li.list-num-1-88{background-image:url(/ueditor-list/list-num-1-88.gif)}
    li.list-num-1-89{background-image:url(/ueditor-list/list-num-1-89.gif)}
    li.list-num-1-90{background-image:url(/ueditor-list/list-num-1-90.gif)}
    li.list-num-1-91{background-image:url(/ueditor-list/list-num-1-91.gif)}
    li.list-num-1-92{background-image:url(/ueditor-list/list-num-1-92.gif)}
    li.list-num-1-93{background-image:url(/ueditor-list/list-num-1-93.gif)}
    li.list-num-1-94{background-image:url(/ueditor-list/list-num-1-94.gif)}
    li.list-num-1-95{background-image:url(/ueditor-list/list-num-1-95.gif)}
    li.list-num-1-96{background-image:url(/ueditor-list/list-num-1-96.gif)}
    li.list-num-1-97{background-image:url(/ueditor-list/list-num-1-97.gif)}
    li.list-num-1-98{background-image:url(/ueditor-list/list-num-1-98.gif)}
    ol.custom_num{list-style:none;}ol.custom_num li{background-position:0 3px;background-repeat:no-repeat}
    li.list-num-paddingleft-1{padding-left:25px}
    li.list-num-2-0{background-image:url(/ueditor-list/list-num-2-0.gif)}
    li.list-num-2-1{background-image:url(/ueditor-list/list-num-2-1.gif)}
    li.list-num-2-2{background-image:url(/ueditor-list/list-num-2-2.gif)}
    li.list-num-2-3{background-image:url(/ueditor-list/list-num-2-3.gif)}
    li.list-num-2-4{background-image:url(/ueditor-list/list-num-2-4.gif)}
    li.list-num-2-5{background-image:url(/ueditor-list/list-num-2-5.gif)}
    li.list-num-2-6{background-image:url(/ueditor-list/list-num-2-6.gif)}
    li.list-num-2-7{background-image:url(/ueditor-list/list-num-2-7.gif)}
    li.list-num-2-8{background-image:url(/ueditor-list/list-num-2-8.gif)}
    li.list-num-2-9{background-image:url(/ueditor-list/list-num-2-9.gif)}
    li.list-num-2-10{background-image:url(/ueditor-list/list-num-2-10.gif)}
    li.list-num-2-11{background-image:url(/ueditor-list/list-num-2-11.gif)}
    li.list-num-2-12{background-image:url(/ueditor-list/list-num-2-12.gif)}
    li.list-num-2-13{background-image:url(/ueditor-list/list-num-2-13.gif)}
    li.list-num-2-14{background-image:url(/ueditor-list/list-num-2-14.gif)}
    li.list-num-2-15{background-image:url(/ueditor-list/list-num-2-15.gif)}
    li.list-num-2-16{background-image:url(/ueditor-list/list-num-2-16.gif)}
    li.list-num-2-17{background-image:url(/ueditor-list/list-num-2-17.gif)}
    li.list-num-2-18{background-image:url(/ueditor-list/list-num-2-18.gif)}
    li.list-num-2-19{background-image:url(/ueditor-list/list-num-2-19.gif)}
    li.list-num-2-20{background-image:url(/ueditor-list/list-num-2-20.gif)}
    li.list-num-2-21{background-image:url(/ueditor-list/list-num-2-21.gif)}
    li.list-num-2-22{background-image:url(/ueditor-list/list-num-2-22.gif)}
    li.list-num-2-23{background-image:url(/ueditor-list/list-num-2-23.gif)}
    li.list-num-2-24{background-image:url(/ueditor-list/list-num-2-24.gif)}
    li.list-num-2-25{background-image:url(/ueditor-list/list-num-2-25.gif)}
    li.list-num-2-26{background-image:url(/ueditor-list/list-num-2-26.gif)}
    li.list-num-2-27{background-image:url(/ueditor-list/list-num-2-27.gif)}
    li.list-num-2-28{background-image:url(/ueditor-list/list-num-2-28.gif)}
    li.list-num-2-29{background-image:url(/ueditor-list/list-num-2-29.gif)}
    li.list-num-2-30{background-image:url(/ueditor-list/list-num-2-30.gif)}
    li.list-num-2-31{background-image:url(/ueditor-list/list-num-2-31.gif)}
    li.list-num-2-32{background-image:url(/ueditor-list/list-num-2-32.gif)}
    li.list-num-2-33{background-image:url(/ueditor-list/list-num-2-33.gif)}
    li.list-num-2-34{background-image:url(/ueditor-list/list-num-2-34.gif)}
    li.list-num-2-35{background-image:url(/ueditor-list/list-num-2-35.gif)}
    li.list-num-2-36{background-image:url(/ueditor-list/list-num-2-36.gif)}
    li.list-num-2-37{background-image:url(/ueditor-list/list-num-2-37.gif)}
    li.list-num-2-38{background-image:url(/ueditor-list/list-num-2-38.gif)}
    li.list-num-2-39{background-image:url(/ueditor-list/list-num-2-39.gif)}
    li.list-num-2-40{background-image:url(/ueditor-list/list-num-2-40.gif)}
    li.list-num-2-41{background-image:url(/ueditor-list/list-num-2-41.gif)}
    li.list-num-2-42{background-image:url(/ueditor-list/list-num-2-42.gif)}
    li.list-num-2-43{background-image:url(/ueditor-list/list-num-2-43.gif)}
    li.list-num-2-44{background-image:url(/ueditor-list/list-num-2-44.gif)}
    li.list-num-2-45{background-image:url(/ueditor-list/list-num-2-45.gif)}
    li.list-num-2-46{background-image:url(/ueditor-list/list-num-2-46.gif)}
    li.list-num-2-47{background-image:url(/ueditor-list/list-num-2-47.gif)}
    li.list-num-2-48{background-image:url(/ueditor-list/list-num-2-48.gif)}
    li.list-num-2-49{background-image:url(/ueditor-list/list-num-2-49.gif)}
    li.list-num-2-50{background-image:url(/ueditor-list/list-num-2-50.gif)}
    li.list-num-2-51{background-image:url(/ueditor-list/list-num-2-51.gif)}
    li.list-num-2-52{background-image:url(/ueditor-list/list-num-2-52.gif)}
    li.list-num-2-53{background-image:url(/ueditor-list/list-num-2-53.gif)}
    li.list-num-2-54{background-image:url(/ueditor-list/list-num-2-54.gif)}
    li.list-num-2-55{background-image:url(/ueditor-list/list-num-2-55.gif)}
    li.list-num-2-56{background-image:url(/ueditor-list/list-num-2-56.gif)}
    li.list-num-2-57{background-image:url(/ueditor-list/list-num-2-57.gif)}
    li.list-num-2-58{background-image:url(/ueditor-list/list-num-2-58.gif)}
    li.list-num-2-59{background-image:url(/ueditor-list/list-num-2-59.gif)}
    li.list-num-2-60{background-image:url(/ueditor-list/list-num-2-60.gif)}
    li.list-num-2-61{background-image:url(/ueditor-list/list-num-2-61.gif)}
    li.list-num-2-62{background-image:url(/ueditor-list/list-num-2-62.gif)}
    li.list-num-2-63{background-image:url(/ueditor-list/list-num-2-63.gif)}
    li.list-num-2-64{background-image:url(/ueditor-list/list-num-2-64.gif)}
    li.list-num-2-65{background-image:url(/ueditor-list/list-num-2-65.gif)}
    li.list-num-2-66{background-image:url(/ueditor-list/list-num-2-66.gif)}
    li.list-num-2-67{background-image:url(/ueditor-list/list-num-2-67.gif)}
    li.list-num-2-68{background-image:url(/ueditor-list/list-num-2-68.gif)}
    li.list-num-2-69{background-image:url(/ueditor-list/list-num-2-69.gif)}
    li.list-num-2-70{background-image:url(/ueditor-list/list-num-2-70.gif)}
    li.list-num-2-71{background-image:url(/ueditor-list/list-num-2-71.gif)}
    li.list-num-2-72{background-image:url(/ueditor-list/list-num-2-72.gif)}
    li.list-num-2-73{background-image:url(/ueditor-list/list-num-2-73.gif)}
    li.list-num-2-74{background-image:url(/ueditor-list/list-num-2-74.gif)}
    li.list-num-2-75{background-image:url(/ueditor-list/list-num-2-75.gif)}
    li.list-num-2-76{background-image:url(/ueditor-list/list-num-2-76.gif)}
    li.list-num-2-77{background-image:url(/ueditor-list/list-num-2-77.gif)}
    li.list-num-2-78{background-image:url(/ueditor-list/list-num-2-78.gif)}
    li.list-num-2-79{background-image:url(/ueditor-list/list-num-2-79.gif)}
    li.list-num-2-80{background-image:url(/ueditor-list/list-num-2-80.gif)}
    li.list-num-2-81{background-image:url(/ueditor-list/list-num-2-81.gif)}
    li.list-num-2-82{background-image:url(/ueditor-list/list-num-2-82.gif)}
    li.list-num-2-83{background-image:url(/ueditor-list/list-num-2-83.gif)}
    li.list-num-2-84{background-image:url(/ueditor-list/list-num-2-84.gif)}
    li.list-num-2-85{background-image:url(/ueditor-list/list-num-2-85.gif)}
    li.list-num-2-86{background-image:url(/ueditor-list/list-num-2-86.gif)}
    li.list-num-2-87{background-image:url(/ueditor-list/list-num-2-87.gif)}
    li.list-num-2-88{background-image:url(/ueditor-list/list-num-2-88.gif)}
    li.list-num-2-89{background-image:url(/ueditor-list/list-num-2-89.gif)}
    li.list-num-2-90{background-image:url(/ueditor-list/list-num-2-90.gif)}
    li.list-num-2-91{background-image:url(/ueditor-list/list-num-2-91.gif)}
    li.list-num-2-92{background-image:url(/ueditor-list/list-num-2-92.gif)}
    li.list-num-2-93{background-image:url(/ueditor-list/list-num-2-93.gif)}
    li.list-num-2-94{background-image:url(/ueditor-list/list-num-2-94.gif)}
    li.list-num-2-95{background-image:url(/ueditor-list/list-num-2-95.gif)}
    li.list-num-2-96{background-image:url(/ueditor-list/list-num-2-96.gif)}
    li.list-num-2-97{background-image:url(/ueditor-list/list-num-2-97.gif)}
    li.list-num-2-98{background-image:url(/ueditor-list/list-num-2-98.gif)}
    ol.custom_num1{list-style:none;}ol.custom_num1 li{background-position:0 3px;background-repeat:no-repeat}
    li.list-num1-paddingleft-1{padding-left:25px}
    li.list-num-3-0{background-image:url(/ueditor-list/list-num-3-0.gif)}
    li.list-num-3-1{background-image:url(/ueditor-list/list-num-3-1.gif)}
    li.list-num-3-2{background-image:url(/ueditor-list/list-num-3-2.gif)}
    li.list-num-3-3{background-image:url(/ueditor-list/list-num-3-3.gif)}
    li.list-num-3-4{background-image:url(/ueditor-list/list-num-3-4.gif)}
    li.list-num-3-5{background-image:url(/ueditor-list/list-num-3-5.gif)}
    li.list-num-3-6{background-image:url(/ueditor-list/list-num-3-6.gif)}
    li.list-num-3-7{background-image:url(/ueditor-list/list-num-3-7.gif)}
    li.list-num-3-8{background-image:url(/ueditor-list/list-num-3-8.gif)}
    li.list-num-3-9{background-image:url(/ueditor-list/list-num-3-9.gif)}
    li.list-num-3-10{background-image:url(/ueditor-list/list-num-3-10.gif)}
    li.list-num-3-11{background-image:url(/ueditor-list/list-num-3-11.gif)}
    li.list-num-3-12{background-image:url(/ueditor-list/list-num-3-12.gif)}
    li.list-num-3-13{background-image:url(/ueditor-list/list-num-3-13.gif)}
    li.list-num-3-14{background-image:url(/ueditor-list/list-num-3-14.gif)}
    li.list-num-3-15{background-image:url(/ueditor-list/list-num-3-15.gif)}
    li.list-num-3-16{background-image:url(/ueditor-list/list-num-3-16.gif)}
    li.list-num-3-17{background-image:url(/ueditor-list/list-num-3-17.gif)}
    li.list-num-3-18{background-image:url(/ueditor-list/list-num-3-18.gif)}
    li.list-num-3-19{background-image:url(/ueditor-list/list-num-3-19.gif)}
    li.list-num-3-20{background-image:url(/ueditor-list/list-num-3-20.gif)}
    li.list-num-3-21{background-image:url(/ueditor-list/list-num-3-21.gif)}
    li.list-num-3-22{background-image:url(/ueditor-list/list-num-3-22.gif)}
    li.list-num-3-23{background-image:url(/ueditor-list/list-num-3-23.gif)}
    li.list-num-3-24{background-image:url(/ueditor-list/list-num-3-24.gif)}
    li.list-num-3-25{background-image:url(/ueditor-list/list-num-3-25.gif)}
    li.list-num-3-26{background-image:url(/ueditor-list/list-num-3-26.gif)}
    li.list-num-3-27{background-image:url(/ueditor-list/list-num-3-27.gif)}
    li.list-num-3-28{background-image:url(/ueditor-list/list-num-3-28.gif)}
    li.list-num-3-29{background-image:url(/ueditor-list/list-num-3-29.gif)}
    li.list-num-3-30{background-image:url(/ueditor-list/list-num-3-30.gif)}
    li.list-num-3-31{background-image:url(/ueditor-list/list-num-3-31.gif)}
    li.list-num-3-32{background-image:url(/ueditor-list/list-num-3-32.gif)}
    li.list-num-3-33{background-image:url(/ueditor-list/list-num-3-33.gif)}
    li.list-num-3-34{background-image:url(/ueditor-list/list-num-3-34.gif)}
    li.list-num-3-35{background-image:url(/ueditor-list/list-num-3-35.gif)}
    li.list-num-3-36{background-image:url(/ueditor-list/list-num-3-36.gif)}
    li.list-num-3-37{background-image:url(/ueditor-list/list-num-3-37.gif)}
    li.list-num-3-38{background-image:url(/ueditor-list/list-num-3-38.gif)}
    li.list-num-3-39{background-image:url(/ueditor-list/list-num-3-39.gif)}
    li.list-num-3-40{background-image:url(/ueditor-list/list-num-3-40.gif)}
    li.list-num-3-41{background-image:url(/ueditor-list/list-num-3-41.gif)}
    li.list-num-3-42{background-image:url(/ueditor-list/list-num-3-42.gif)}
    li.list-num-3-43{background-image:url(/ueditor-list/list-num-3-43.gif)}
    li.list-num-3-44{background-image:url(/ueditor-list/list-num-3-44.gif)}
    li.list-num-3-45{background-image:url(/ueditor-list/list-num-3-45.gif)}
    li.list-num-3-46{background-image:url(/ueditor-list/list-num-3-46.gif)}
    li.list-num-3-47{background-image:url(/ueditor-list/list-num-3-47.gif)}
    li.list-num-3-48{background-image:url(/ueditor-list/list-num-3-48.gif)}
    li.list-num-3-49{background-image:url(/ueditor-list/list-num-3-49.gif)}
    li.list-num-3-50{background-image:url(/ueditor-list/list-num-3-50.gif)}
    li.list-num-3-51{background-image:url(/ueditor-list/list-num-3-51.gif)}
    li.list-num-3-52{background-image:url(/ueditor-list/list-num-3-52.gif)}
    li.list-num-3-53{background-image:url(/ueditor-list/list-num-3-53.gif)}
    li.list-num-3-54{background-image:url(/ueditor-list/list-num-3-54.gif)}
    li.list-num-3-55{background-image:url(/ueditor-list/list-num-3-55.gif)}
    li.list-num-3-56{background-image:url(/ueditor-list/list-num-3-56.gif)}
    li.list-num-3-57{background-image:url(/ueditor-list/list-num-3-57.gif)}
    li.list-num-3-58{background-image:url(/ueditor-list/list-num-3-58.gif)}
    li.list-num-3-59{background-image:url(/ueditor-list/list-num-3-59.gif)}
    li.list-num-3-60{background-image:url(/ueditor-list/list-num-3-60.gif)}
    li.list-num-3-61{background-image:url(/ueditor-list/list-num-3-61.gif)}
    li.list-num-3-62{background-image:url(/ueditor-list/list-num-3-62.gif)}
    li.list-num-3-63{background-image:url(/ueditor-list/list-num-3-63.gif)}
    li.list-num-3-64{background-image:url(/ueditor-list/list-num-3-64.gif)}
    li.list-num-3-65{background-image:url(/ueditor-list/list-num-3-65.gif)}
    li.list-num-3-66{background-image:url(/ueditor-list/list-num-3-66.gif)}
    li.list-num-3-67{background-image:url(/ueditor-list/list-num-3-67.gif)}
    li.list-num-3-68{background-image:url(/ueditor-list/list-num-3-68.gif)}
    li.list-num-3-69{background-image:url(/ueditor-list/list-num-3-69.gif)}
    li.list-num-3-70{background-image:url(/ueditor-list/list-num-3-70.gif)}
    li.list-num-3-71{background-image:url(/ueditor-list/list-num-3-71.gif)}
    li.list-num-3-72{background-image:url(/ueditor-list/list-num-3-72.gif)}
    li.list-num-3-73{background-image:url(/ueditor-list/list-num-3-73.gif)}
    li.list-num-3-74{background-image:url(/ueditor-list/list-num-3-74.gif)}
    li.list-num-3-75{background-image:url(/ueditor-list/list-num-3-75.gif)}
    li.list-num-3-76{background-image:url(/ueditor-list/list-num-3-76.gif)}
    li.list-num-3-77{background-image:url(/ueditor-list/list-num-3-77.gif)}
    li.list-num-3-78{background-image:url(/ueditor-list/list-num-3-78.gif)}
    li.list-num-3-79{background-image:url(/ueditor-list/list-num-3-79.gif)}
    li.list-num-3-80{background-image:url(/ueditor-list/list-num-3-80.gif)}
    li.list-num-3-81{background-image:url(/ueditor-list/list-num-3-81.gif)}
    li.list-num-3-82{background-image:url(/ueditor-list/list-num-3-82.gif)}
    li.list-num-3-83{background-image:url(/ueditor-list/list-num-3-83.gif)}
    li.list-num-3-84{background-image:url(/ueditor-list/list-num-3-84.gif)}
    li.list-num-3-85{background-image:url(/ueditor-list/list-num-3-85.gif)}
    li.list-num-3-86{background-image:url(/ueditor-list/list-num-3-86.gif)}
    li.list-num-3-87{background-image:url(/ueditor-list/list-num-3-87.gif)}
    li.list-num-3-88{background-image:url(/ueditor-list/list-num-3-88.gif)}
    li.list-num-3-89{background-image:url(/ueditor-list/list-num-3-89.gif)}
    li.list-num-3-90{background-image:url(/ueditor-list/list-num-3-90.gif)}
    li.list-num-3-91{background-image:url(/ueditor-list/list-num-3-91.gif)}
    li.list-num-3-92{background-image:url(/ueditor-list/list-num-3-92.gif)}
    li.list-num-3-93{background-image:url(/ueditor-list/list-num-3-93.gif)}
    li.list-num-3-94{background-image:url(/ueditor-list/list-num-3-94.gif)}
    li.list-num-3-95{background-image:url(/ueditor-list/list-num-3-95.gif)}
    li.list-num-3-96{background-image:url(/ueditor-list/list-num-3-96.gif)}
    li.list-num-3-97{background-image:url(/ueditor-list/list-num-3-97.gif)}
    li.list-num-3-98{background-image:url(/ueditor-list/list-num-3-98.gif)}
    ol.custom_num2{list-style:none;}ol.custom_num2 li{background-position:0 3px;background-repeat:no-repeat}
    li.list-num2-paddingleft-1{padding-left:35px}
    li.list-num2-paddingleft-2{padding-left:40px}
    li.list-dash{background-image:url(/ueditor-list/dash.gif)}
    ul.custom_dash{list-style:none;}ul.custom_dash li{background-position:0 3px;background-repeat:no-repeat}
    li.list-dash-paddingleft{padding-left:35px}
    li.list-dot{background-image:url(/ueditor-list/dot.gif)}
    ul.custom_dot{list-style:none;}ul.custom_dot li{background-position:0 3px;background-repeat:no-repeat}
    li.list-dot-paddingleft{padding-left:20px}
    .list-paddingleft-1{padding-left:0}
    .list-paddingleft-2{padding-left:30px}
    .list-paddingleft-3{padding-left:60px}
  }

}


